nav { 
    text-align: center;
    width: 100%;
    position: fixed;
    li {
        display: inline;
    }
    .nav-header-ul {
        display: flex;
        justify-content: space-evenly
    }
}
nav.header1 {
        font-size: 1.2rem;
        background-color: rgba(222, 223, 224, 0.5);
        top: 0;
        height: 56px;
    }
nav.header2 {
        top:56px;
        height: 40px;
        border-bottom: 1px solid lightgrey;
    }
.table-container {
    position: relative;
    top: 112px;
    width: 100vw;
    height: 80vh;
    margin: 1rem;
    overflow-y: scroll;
}
    
