<div class="row-selector">
    <h3>Choose amount of rows per table</h3>
    <form>
        <div>
            <label for="name">Amount</label>
            <select name="count" [(ngModel)]="count" (change)="onChange()">
                <option class="option-font" *ngFor="let c of countValues" [ngValue]="c">{{c}}</option>
            </select>
        </div>
    </form>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr> 
                <th class="icon-header"></th>
                <th *ngFor="let header of headers"><span>{{header}}</span></th>
            </tr>
        </thead>
    </table>

    <div class="tbody-container">
        <table>
            <tbody>
                <tr *ngFor="let row of data">
                    <td>
                        <button type="button" class="submit" (click)="submitId(row.id, row.status)">
                            <i class="material-icons">check</i>
                        </button>
                    </td> 
                    <ng-container *ngFor="let header of headers let i of index">
                        <td><span>{{row[i]}}</span></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="pager">
    <span class="btn-page prev-page" *ngIf="hasPrev" (click)="prev()">prev</span>
    <span class="btn-page">{{actualPage + 1}}</span>
    <span class="btn-page next-page" *ngIf="hasNext" (click)="next()">next</span>
</div>