.row-selector {
    margin-bottom: 1rem;
}
.table-container {
    width: 100%;
    overflow-y: scroll;
    table {
        width:fit-content;
    }
    span {
        display: block;
        width: 300px;
        font-size: 0.9rem
    }
};
.tbody-container {
    max-height: 500px;
    overflow-x: hidden;
    width: fit-content;
    overflow-y: scroll;
    word-break: break-word;
    tr:nth-child(even) {
        background-color: rgb(248, 248, 248);     
        .submit{ 
        background-color: #f2f2f2;
        box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.3);
        }    
    }
    i {
        font-size: 16px
    }
}

table, th, td {
    border: 1px solid rgb(204, 205, 206);
    border-collapse: collapse;
}
  th, td {
    // padding: 0.25rem;
    text-align: center;
}

.pager {
    padding-top: 1rem
}
.btn-page{
  background: #0889fb;
    padding: 8px;
    border: 1px solid rgb(65, 65, 65);
    margin: 4px;
    color: #eee;
}
.icon-header {
    padding: 0px 9px;
}
.submit {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: 2px 2px 5px rgb(228, 228, 228, 0.3);
}
.submit:hover { 
    background-color: rgba(4, 155, 42, 0.7)!important;
    color: white;
}
